function Main.main 0
push constant 3
push this NONE
add
pop pointer 1
push that 0
push this NONE
add
pop pointer 1
push that 0
push this NONE
add
push constant 5
push this NONE
add
pop pointer 1
push that 0
push this NONE
add
pop pointer 1
push that 0
push constant 7
push constant 3
push this NONE
add
pop pointer 1
push that 0
sub
push constant 2
call Main.double 1
sub
push constant 1
add
push this NONE
add
pop pointer 1
push that 0
call Math.multiply 2
pop temp 0
push pointer 1
push temp 0
pop that 0
